<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF 8">
    <meta name="viewport" content="width=device-width, initial_scale=1.0">
    <title>Amazing Recipe Generator</title>
    {% load static %}
    <link rel="stylesheet" href= "{% static 'css/styles.css' %}">
    <script src="static/script.js"></script>
</head>
<body>
    <h3>
        Fill in the form below to generate your ideal recipe
    </h3>
    <form action="" method="POST" id="chatForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="cuisine">Select a cuisine:</label>
            <select id="cuisine">
                <label>Select your desired cuisine:</label>
                <option value="English">English</option>
                <option value="Indian">Indian</option>
                <option value="Chinese">Chinese</option>
                <option value="Thai">Thai</option>
                <option value="South African">South African</option>
            </select>
        </div>

        <div class="form-group">
        <label for="experience">Select your cheffy experience:</label>
            <select id="experience" name="experience">
                <option value="Beginner">Beginner</option>
                <option value="Decent">Decent</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Total badass">Total badass</option>
            </select>
        </div>

        <div class="form-group">
            <input type="text" id="comments" name="comments" placeholder="Additional notes/comments?">
        </div>

        <div class="form-group">
            <button type="submit">Get the recipe!</button>
        </div>
    </form>
 
    <div class="result-container" id="result"></div>
</body>
</html>